* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #DAD7CD;
    color: black;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

input,
select,
button {
    cursor: pointer;
}

.container {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}