* {
    box-sizing: border-box;
}

.nav {
    background-color: #3A5A40;
    color: #DAD7CD;
}



.nav__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title {
    font-size: 1.5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1em;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    padding: .25em;
    background-color: #DAD7CD;
    border: .25rem solid #3A5A40;
}

.active {
    border: .25rem solid black;
}

.nav__link:hover {
    color: rgba(0, 0, 0, 0.67);
}

.selected {
    background-color: #DAD7CD;
}

.nav__cart {
    max-width: 30px;
    cursor: pointer;
}

.nav__cart-items {
    font-size: 1.125rem;
    margin-left: -.5em;
    font-weight: 600;
}

.nav__cart-items-background {
    /* background-color: #DAD7CD;
    color: black;
    padding: .25em;
    border-radius: 100%; */
    vertical-align: bottom;
}